.btn {
  background: var(--color-purple);
  color: var(--color-white);
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    //transform: translateY(-10px);
  }
}