.header {
  padding: 20px 0;
  background: var(--color-black);
  color: var(--color-white);

  border-bottom: 1px solid var(--color-gray);
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 22px;
    font-weight: 600;
    span {
      color: var(--color-purple);
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}