.navbar {

  &__list {
    display: flex;
    align-items: center;
    gap: 15px;

  }

  &__item {
    a {
      position: relative;
      font-size: 18px;
      font-weight: 600;
      &.active:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--color-purple);

      }

    }
  }
}
