.navbar {

  &__list {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__item {
    a {
      position: relative;
      font-size: 18px;
      font-weight: 600;
      @media (max-width: 800px) {
        font-size: 16px;
        font-weight: 500;
      }
      @media (max-width: 440px) {
        font-size: 14px;
        font-weight: 400;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background: var(--color-purple);
        transition: width .3s ease;
      }

      &.active:before,
      &:hover:before {
        width: 100%;
      }
    }
  }
}
