@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

:root {
  --color-black: #171718;
  --color-purple: #5D62E4;
  --color-gray: #252526;
  --color-gray-secondary: #9C9C9C;;
  --color-white: #fff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.page-title {
  font-size: 50px;
  margin-bottom: 60px;
  text-align: center;
  @media (max-width: 800px) {
    font-size: 42px;
  }
}