.portfolio {
  padding: 60px 0;
  flex-grow: 1;

  &__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  &__cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

  }
}
